# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Deps
node_modules/

# IDE
.idea/
.vscode/
*.local

# backend
backend/__pycache__/
backend/app/__pycache__/
backend/*/ __pycache__/
backend/telemaster.db
backend/.venv/
**/__pycache__/
*.pyc

